
#board {
    top:    57px;
    left:   12px;
    width:  296px;
    height: 384px;
    position: absolute;
    background: white;
    opacity: 0.5;
    z-index:   0;
}

#senderboard {
    top:    57px;
    left:   12px;
    width:  296px;
    height: 298px;
    position: absolute;
    background: white;
    opacity: 0.5;
    z-index:   0;
}

#recipientInput {
    top: 105px;
    left: 34px;
    width: 250px;
    min-height: 2em;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
}

#addressInput {
    top: 165px;
    left: 34px;
    width: 250px;
    min-height: 2em;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
}

#zipcodeInput {
    top: 225px;
    left: 34px;
    width: 250px;
    min-height: 2em;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
}

#saveRecipientToAddressBookBtn {
    top: 285px;
    left: 12px;
    width: 148px;
    min-height: 2em;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;    
}

#selectRecipientFromAddressBookBtn {
    top: 285px;
    left: 160px;
    width: 148px;
    min-height: 2em;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
}

#senderNameInput {
    top: 105px;
    left: 34px;
    width: 250px;
    min-height: 2em;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
}

#senderAddressInput {
    top: 165px;
    left: 34px;
    width: 250px;
    min-height: 2em;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
}

#saveSenderToAddressBookBtn {
    top: 225px;
    left: 12px;
    width: 148px;
    min-height: 2em;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;    
}

#selectSenderFromAddressBookBtn {
    top: 225px;
    left: 160px;
    width: 148px;
    min-height: 2em;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
}

#editAddressButton {
    top: 240px;
    left: 40px;
    width: 140px;
    height: 27px;
    position: absolute;
    z-index: 10;    
}

#submitAddressButton {
    top: 360px;
    left: 220px;
    width: 80px;
    height: 27px;
    position: absolute;
    z-index: 10;
}

#previewButton {
    top: 315px;
    left: 12px;
    width: 148px;
    height: 40px;
    position: absolute;
    z-index: 10;
}

#gotoPayButton {
    top: 315px;
    left: 160px;
    width: 148px;
    height: 40px;
    position: absolute;
    z-index: 10;
}

#contactsTable {
    border: 0;
    top: 57px;
    left: 12px;
    width: 296px;
    height: 384px;
    position: absolute;
}

td {
    vertical-align: top;
    height: 50px;
}