
#board {
    top:    72px;
    left:   12px;
    width:  296px;
    height: 374px;
    position: absolute;
    background: white;
    opacity: 0.5;
    z-index:   0;
}

#senderboard {
    top:    72px;
    left:   12px;
    width:  296px;
    height: 326px;
    position: absolute;
    background: white;
    opacity: 0.5;
    z-index:   0;
}

#recipientInput {
    top: 122px;
    left: 34px;
    width: 250px;
    min-height: 36px;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
    padding: 5px;
}

#addressInput {
    top: 190px;
    left: 34px;
    width: 250px;
    min-height: 36px;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
    padding: 5px;
}

#zipcodeInput {
    top: 254px;
    left: 34px;
    width: 250px;
    min-height: 36px;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
    padding: 5px;
}

#saveRecipientToAddressBookBtn {
    top: 318px;
    left: 10px;
    width: 148px;
    min-height: 2em;
    font-size: 15px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;    
    padding-bottom: 2px;
}

#selectRecipientFromAddressBookBtn {
    top: 318px;
    left: 148px;
    width: 148px;
    min-height: 2em;
    font-size: 15px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
    padding-bottom: 2px;
}

#senderNameInput {
    top: 122px;
    left: 34px;
    width: 250px;
    min-height: 36px;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
    padding: 5px;
}

#senderAddressInput {
    top: 190px;
    left: 34px;
    width: 250px;
    min-height: 36px;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
    padding: 5px;
}

#saveSenderToAddressBookBtn {
    top: 278px;
    left: 12px;
    width: 148px;
    min-height: 2em;
    font-size: 15px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;    
    padding-bottom: 2px;
}

#selectSenderFromAddressBookBtn {
    top: 278px;
    left: 148px;
    width: 148px;
    min-height: 2em;
    font-size: 15px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
    padding-bottom: 2px;
}

#editAddressButton {
    top: 240px;
    left: 40px;
    width: 140px;
    height: 27px;
    position: absolute;
    z-index: 10;    
}

#submitAddressButton {
    top: 370px;
    left: 214px;
    width: 80px;
    height: 35px;
    position: absolute;
    z-index: 10;
    padding-bottom: 5px;
}

#previewButton {
    top: 345px;
    left: 12px;
    width: 148px;
    height: 52px;
    position: absolute;
    z-index: 10;
}

#gotoPayButton {
    top: 345px;
    left: 160px;
    width: 148px;
    height: 52px;
    position: absolute;
    z-index: 10;
}

#contactsTable {
    border: 0;
    top: 57px;
    left: 12px;
    width: 296px;
    height: 384px;
    position: absolute;
}
