@charset "utf-8";
/*[huangchun 2014-9-17]将所有绝对定位的元素修改成负边距居中，所有元素整体上移30px*/
#board {
    top: 66px;
    left:   50%;
    width:  296px;
    height: 374px;
    margin-left: -148px;
    position: absolute;
    background: rgb(163, 161, 161);
    opacity: 0.5;
    z-index:   0;
    border-radius :.2em;
}

#salutationInput {
    top: 79px;
    left: 50%;
    width: 245px;
    margin-left: -125px;
    position: absolute;
    min-height: 36px;
    font-size: 16px;
    z-index: 10;
    border-radius :.2em;
    padding-left: 5px;
}

#messageWrap {
    top: 144px;
    left: 50%;
    width: 250px;
    height: 180px;
    margin-left: -125px;
    position: absolute;
    overflow-y: scroll;
    z-index: 10;
    padding: 0px;
}

#messageInput {
    margin: 0px;
    width: 250px;
    min-height: 11em;
    background: white;
    border-radius :.2em;
    resize: none;
}

#signatureInput {/*[huangchun 2014-9-18] left由144px改为47%*/
    top: 336px;
    left: 50%;
    width: 120px;
    min-height: 2em;
    font-size: 16px;
    position: absolute;
    z-index: 10;
    border-radius :.2em;
    padding-left: 5px;
}

#voiceMessageButton {/*[huangchun 2014-9-17]*/
    top: 335px;
    left: 6%;
    width: 80px;
    margin-left: 20px;
    height: 76px;
    position: absolute;
    z-index: 10;
}

#playVoiceMessageButton {
    top: 305px;
    left: 33%;
    width: 50px;
    /*margin-left: 0px;*/
    height: 50px;
    position: absolute;
    z-index: 10;
}

#submitMessageButton {
    top: 390px;
    left: 214px;
    width: 80px;
    /*height: 16px;*/
    position: absolute;
    z-index: 10;
    font-weight: bold;
}

#messageInputHint {
    top: 128px;
    left: 230px;
    /* width: 100px; */
    font-size: 10px;
    position: absolute;
    z-index: 10;
    text-shadow:none;
}
/*[huangchun 2014-9-19] 由于流体布局在平板上无法正确的显示，因此新增了媒体查询。*/
@media screen and (max-width: 321px) {/*[huangchun 2014-9-24]适配iphone 4*/
    #board {top: 66px; width:296px; height:334px; margin-left:-148px;}
    #salutationInput {top: 80px; width: 250px; margin-left:-125px;}
    #messageInputHint {top: 130px; /* left:234px; */}
    #messageWrap {top: 145px; width: 250px; height:160px; margin-left:-125px; overflow:auto;}
    #messageInput {width: 250px; min-height:10em;}
    #signatureInput {top: 315px; width: 120px;}
    #voiceMessageButton {left:5%; top: 315px;}
    #playVoiceMessageButton {left:28%; top:265px}
    #submitMessageButton {top: 363px; left:200px;}
}

@media screen and (min-width: 360px){
    #voiceMessageButton {left:13%;}
    #playVoiceMessageButton {left:29%;}
    #messageInputHint {left:68%;}
}
@media screen and (min-width: 400px){
    #voiceMessageButton {left:15%;}
    #playVoiceMessageButton {left:32%;}
}
@media screen and (min-width: 480px){
    #messageInputHint {left:63%;}
    #voiceMessageButton {left:20%;}
    #playVoiceMessageButton {left:35%;}
    #submitMessageButton { left:55%;color:#ccc;}
}
@media screen and (min-width: 540px){
    #voiceMessageButton {left:25%;}
    #playVoiceMessageButton {left:38%;}
}
@media screen and (min-width: 720px){
    #messageInputHint {left:60%;}
    #voiceMessageButton {left:30%;}
    #playVoiceMessageButton {left:40%;}
}
@media screen and (min-width: 960px){
    #signatureInput {left:49%;}
    #messageInputHint {left:56%;}
    #voiceMessageButton {left:36%;}
    #playVoiceMessageButton {left:43%;}
    #submitMessageButton {left:54%;color:#eee;}
}
@media screen and (min-width: 1200px){
    #messageInputHint {left:55.5%;}
    #voiceMessageButton {left:38.5%}
    #playVoiceMessageButton {left:45%;}
}
@media screen and (min-width: 1400px){
    #messageInputHint {left:54.5%;}
    #voiceMessageButton {left:40%}
    #playVoiceMessageButton {left:45%;}
}
@media screen and (min-width: 1900px){
    #messageInputHint {left:52.5%;}
    #voiceMessageButton {left:42.5%}
    #playVoiceMessageButton {left:45%;}
    #submitMessageButton {left:52%;color:#fff;}
}
@media screen and (min-width: 2500px){
    #messageInputHint {left:52.5%;}
    #voiceMessageButton {left:44.5%}
    #playVoiceMessageButton {left:45%;}
    #submitMessageButton {left:52%;color:#eee;}
}
