@charset "UTF-8";
.thumbnail {
    width:  44px;
    height: 59px;
    margin-top:16px;
    border: 1px;
}

.thumbnail_selected {
    width:  44px;
    height: 59px;
    margin-top:10px;
    border: 2px;
}

.postcard_small {
    top: 15px;
    left: 50%;
    width:  235px;
    margin-left: -118px;
    height: 70%;
    position: absolute;
    overflow: hidden;
}

#toggleTemplateButton {
    top:   70%;
    left:  4%;
    position: absolute;
}

#toggleTemplateButton img {
    width: 25px;
    height: 25px;
}

#templateContainer {
    bottom: 0;
    left: 50%;
    height:100px;
    width:320px;
    margin-left: -160px;
    overflow:hidden;
    position: absolute;
}


#makePicturePage {
    height: 100%;
    overflow: hidden;
}
@media screen and (min-width: 320px){
    #toggleTemplateButton {left:  7%;}
}

@media (max-width: 321px){
    .postcard_small {/*[huangchun 2014-9-24]针对i phone4适配*/
        width: 200px;
        margin-left: -100px;
    }
    #templateContainer {height: 90px;}
}

@media screen and (min-width: 540px){
    #toggleTemplateButton {left:  20%;}
}
@media screen and (min-width: 960px){
    #toggleTemplateButton {left:  34%;}
}
@media screen and (min-width: 1280px){
    #toggleTemplateButton {left:  37.5%;}
}
