@charset "utf-8";
body, .ui-content {
    margin:0;
    padding:0;
    background-color: #D5D5D5;
}

.blur {
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */

    -webkit-filter: blur(10px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); /* IE6~IE9 */
}

.page_background {/*[huangchun 2014-9-16] 宽高设为100%*/
    width: 100%;
    height: 100%;
}
/*
.page {
    background-image: url("/images/small/background.png");
    background-repeat: no-repeat;
    height: 480px;
}
*/
.ui-header {/*[huangchun 2014-9-16]*/
    border:0;
    top:0;
    height:50px;
    width: 100%;
    margin:0;
    position: absolute;
}

.ui-header {
    /*background:none;#507196;*/
    /*opacity:0.5;*/
    /*background:rgba(255, 255, 255, 0.3);*/
    background: rgba(107, 113, 114, 0.78);
}

.ui-header a {
    padding-top: 10px;
}

.ui-header a:link, .ui-header a:visited {
    font-size: 14px;
    text-shadow:none;
    text-decoration:none;
    color:white;
    margin-top: 5px;
}

.ui-header img {
    width:12px;
    height:12px;
    border:0;
}

a.abtn:link, a.abtn:visited {
    font-size: 16px;
    text-shadow:none;
    text-decoration:none;
    text-align:center;
    color:white;
}

a.bbtn:link, a.abtn:visited {
    font-size: 14px;
    text-shadow:none;
    text-decoration:none;
    text-align:center;
    color:#353535;
}

.postcard {/*[huangchun 2014-9-16] 改为负边距居中,top值由60px改30px*/
    top: 30px;
    left:   50%;
    margin-left: -131px;
    width:  262px;
    height: 385px;
    position: absolute;
    overflow: hidden;
}

.nextbtnicon {
    width: 22px;
    height: 20px;
}

/*[huangchun 2014-9-16]*/
.ui-content{
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 10000;
    width: 100%;
    bottom: 0;
}
/*[huangchun 2014-9-24]*/
@media (max-width: 320px){
    .postcard {
        width: 210px;
        margin-left: -105px;
        height: 310px;
        top: 40px;
    }
}
@media (max-width: 320px) and (max-height: 480px){
    .postcard {
        top: 10px;
    }
}

#postcard-loader img {
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    margin-left: -16px;
    position: absolute;
}
