
body, .ui-content {
    margin:0;
    padding:0;
}

.page {
    background-image: url("/images/small/background.png");
    background-repeat: no-repeat;
    height: 480px;
}

.ui-header {
    border:0;
    top:0;
    height:37px;
    width: 320px;
    margin:0;

}

.ui-header {
    /*background:none;#507196;*/
    /*opacity:0.5;*/
    background:rgba(255, 255, 255, 0.3);
}

.ui-header a {
    padding-top: 10px;
}

.ui-header a:link, .ui-header a:visited {
    font-size: 11px;
    text-shadow:none;
    text-decoration:none;
    color:white;
}

.ui-header img {
    width:12px;
    height:12px;
    border:0;
}

a.abtn:link, a.abtn:visited {
    font-size: 16px;
    text-shadow:none;
    text-decoration:none;
    text-align:center;
    color:white;
}

.postcard {
    top:    47px;
    left:   28px;
    width:  262px;
    height: 397px;
    position: absolute;
    overflow: hidden;
}

.nextbtnicon {
    width: 30px;
    height: 27px;
}

