
#previewPage {
    height: 610px;
}

#zipcodePreview {
    font-size:17px;
    letter-spacing:10px;
    top:17px;
    left:27px;
    position:absolute;
}

#salutationPreview {
    font-size:12px;
    text-align:left;
    top:50px;
    left:8px;
    width:155px;
    position:absolute;
}

#messagePreview {
    font-size:12px;
    text-align:left;
    top:65px;
    left:8px;
    width:155px;
    position:absolute;
}

#signaturePreview {
    font-size:12px;
    top:170px;
    left:100px;
    position:absolute;
}

#qrPreview {
    top:160px;
    left:8px;
    width:30px;
    height:30px;
    position: absolute;
}

#addressPreview {
    font-size:11px;
    text-align:left;
    top:75px;
    left:160px;
    width:140px;
    position:absolute;
}

#recipientPreview {
    font-size:14px;
    left:170px;
    top:135px;
    position:absolute;
}

#backBoard {
    top: 460px;
    width:320px;
    height:200px;
    position:absolute;
    left: 50%;
    margin-left: -160px;
}

#postcardback {
    width:320px;
    height:200px;
    position:absolute;
    left:0;
}

#preview-button-left {
    top: 680px;
    width: 50%;
    height: 40px;
    position: absolute;
    background-color: white;
}

#preview-button-right {
    top: 680px;
    left: 50%;
    width: 49%;
    height: 40px;
    position: absolute;
    background-color: white;
    border-left-style: solid;
    border-left-color: #979797;
}

#editButton {
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 40px;
    position: absolute;
    z-index: 10;
}

#gotoPayButton {
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 40px;
    position: absolute;
    z-index: 10;
}

/* iphone4
@media (max-width: 321px) {
    #backBoard {top:460px;}
    #preview-button-left, #preview-button-right {top: 570px;}
}
*/
