
<div id="addressBook">
    <div id="addressTitle">
        <p>地址簿</p>
    </div>
    <ul id="contactList">
        <li>
            <p class="name">中国人</p>
            <p class="postcode">邮编：</p>
            <p class="address">地址：dsfsafdfsdfasfsafdafsfasfadfasfafafadffdsfasfsdafasfasdfasas</p>
        </li>

        <li>
            <p class="name">中国人</p>
            <p class="postcode">邮编：</p>
            <p class="address">地址：</p>
        </li>
        <li>
            <p class="name">中国人</p>
            <p class="postcode">邮编：</p>
            <p class="address">地址：</p>
        </li>
    </ul>
    <button class="bottomOkButton" ng-click="onOkButtonClick()">
        确&nbsp;&nbsp;认
    </button>
</div>