
<div id="addressBook">
    <div id="addressTitle">
        <p>地址簿</p>
        <div class="rightIcon"></div>
        <div id="triangle"></div>
    </div>
    <div id="iscrollWrapper">
        <ul id="contactList" >
            <li ng-repeat="contact in contacts" ng-click="onClickLi($index)" ng-class="selectedClass($index)">
                <p class="name">{{contact.contactName}}</p>
                <p class="postcode">邮编：{{contact.zipCode}}</p>
                <p class="address">地址：{{contact.address}}</p>
            </li>
        </ul>
    </div>

    <button class="bottomOkButton" ng-click="onOkButtonClick()">
        确&nbsp;&nbsp;认
    </button>
</div>