
<div id="editInfo">
    <div id="headerContainer">
        <div id="receiverInfo" ng-click="editContact()">
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;{{targetContact.contactName || "收件人信息"}}
        </div>

        <div id="postmark" ng-click="selectPostmark()">
            邮票区
        </div>
    </div>


    <div id="greetingsTitle" ng-click="editGreetings()">
        &nbsp;&nbsp;&nbsp;&nbsp;祝福语...
    </div>

    <div id="greetingsContent" ng-click="editGreetings()">
        <p>{{message}}</p>
    </div>
</div>