
<div id="editGreetings">
    <div id="greetingsContainer">
        <div class="corner">
            <div id="greetingsTitle" ng-click="editGreetings()">
                祝福语...
            </div>
            <div id="greetingsContent">
                <textarea id="text" placeholder="点此输入您的祝福语..."></textarea>
            </div>
        </div>
    </div>

    <div id="startVoice" class="corner">
        按住录制语音
    </div>

    <button class="bottomOkButton" ng-click="onOkButtonClick()">
        确&nbsp;&nbsp;认
    </button>
</div>