
<div id="editContact">
    <div id="iscrollWrapper">
        <div id="scroller">
            <div id="container" class="corner">
                <div id="detailAddressInfo">
                    <div id="detailAddressInfoText">请填写详细地址</div>
                </div>
                <div id="optionAddress">
                    <button id="buttonAddress">地址</button>
                    <button id="buttonAddressBook" ng-click="addressBook();">去地址簿抓一个</button>
                </div>
                <div id="formContainer">
                    <input id="name" class="input" placeholder="姓名">
                    <select id="province" class="input">
                        <option>选择省份</option>
                        <option>选择省份</option>
                        <option>选择省份</option>
                        <option>选择省份</option>
                        <option>选择省份</option>
                        <option>选择省份</option>
                    </select>
                    <select id="city" class="input">
                        <option>选择城市</option>
                        <option>选择城市</option>
                        <option>选择城市</option>
                        <option>选择城市</option>
                        <option>选择城市</option>
                    </select>

                    <input id="address" class="input" placeholder="详细地址">
                    <input id="telephone" class="input" placeholder="手机号">
                    <input id="postcode" class="input" placeholder="邮编">
                </div>
            </div>
        </div>
    </div>

    <button class="bottomOkButton" ng-click="onOkButtonClick()">
        确&nbsp;&nbsp;认
    </button>
</div>