
<div id="editContact">
    <div id="iscrollWrapper">
        <div id="scroller">
            <div id="container" class="corner">
                <div id="detailAddressInfo">
                    <div id="detailAddressInfoText">请填写详细地址</div>
                    <div id="mapIcon"></div>
                </div>
                <div id="optionAddress">
                    <button id="buttonAddress"><div id="locationIcon"></div>地址</button>
                    <button id="buttonAddressBook" ng-click="addressBook();"> <div id="listIcon"></div>去地址簿抓一个</button>
                    <div id="downTriangleIcon"></div>
                </div>
                <div id="formContainer">
                    <input id="name" class="input" placeholder="姓名" ng-model="name">
                    <select id="province" class="input" ng-model="selectedProvince">
                        <option ng-repeat="province in provinces">{{province.province}}</option>
                    </select>
                    <select id="city" class="input" ng-model="selectedCity">
                        <option ng-repeat="city in cities()">{{city}}</option>
                    </select>

                    <input id="address" class="input" placeholder="详细地址" ng-value="address">
                    <input id="telephone" class="input" placeholder="手机号" ng-model="mobile">
                    <input id="postcode" class="input" placeholder="邮编" ng-model="zipcode">
                </div>
            </div>
        </div>
    </div>

    <button class="bottomOkButton" ng-click="onOkButtonClick()">
        确&nbsp;&nbsp;认
    </button>
</div>