
<div id="friendsManager">
    <div id="addressTitle">
        <p>好友管理</p>
        <div class="rightIcon"></div>
        <div id="upTriangle"></div>
    </div>
    <div id="iscrollWrapper">
        <ul id="contactList" >
            <li ng-repeat="contact in contacts" ng-click="onClickLi($index)" ng-class="selectedClass($index)">
                <div>
                    <p>{{contact.contactName}}</p>
                    <div class="arrow {{selectedArrow($index)}}"></div>
                </div>
                <div class="detailArea hide-fade" ng-show="isSelected($index)">
                    <div class="left">
                        <p>邮编:{{contact.zipCode}}</p>
                        <p>地址:{{contact.address}}</p>
                    </div>
                    <div class="buttonEdit" ng-click="editContact($index)">
                        编辑
                    </div>
                    <div class="buttonDelete" ng-click="deleteContact($index)">
                        删除
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div id="tabView">
        <button id="addContact" ng-click="editContact()">
            添加联系人
        </button>
        <button id="requestFromOther" ng-click="showOverlay()">
            请TA填写
        </button>
    </div>
</div>