<div id="like">
    <div id="cardPreview">
        <canvas id="pictureCanvas">Your browser does not support the canvas element.</canvas>
        <canvas id="templateCanvas">Your browser does not support the canvas element.</canvas>
    </div>

    <div id="likeButton" class="{{likeActive()}}" ng-click="onClickLikeButton()">
        <div class="number">{{order.like}}</div>
    </div>

    <div id="unlikeButton" class="{{unlikeActive()}}" ng-click="onClickUnlikeButton()">
        <div class="number">{{order.unlike}}</div>
    </div>

    <div id="qr">
        <p>亲，关注微信公众号趣邮，也把你的照片制作成独一无二的明信片吧。</p>
        <br/>
        <p>马上长按此二维码，进入趣邮，我会等着你的分享</p>
        <br/>
        <img src="/images/big/qr_quyou.png">
        <br/>
    </div>
</div>