<div id="like">
    <div id="cardPreview">
        <canvas id="pictureCanvas">Your browser does not support the canvas element.</canvas>
        <canvas id="templateCanvas">Your browser does not support the canvas element.</canvas>
    </div>

    <div id="likeButton" class="{{likeActive()}}" ng-click="onClickLikeButton()">
        <div class="number">{{order.like}}</div>
    </div>

    <div id="unlikeButton" class="{{unlikeActive()}}" ng-click="onClickUnlikeButton()">
        <div class="number">{{order.unlike}}</div>
    </div>
</div>