<div id="order">
    <div id="iscrollWrapper">
        <div id="orderInfo">
            <div id="headerTitle">
                <div class="orderIcon"></div>
                <span>订单</span>
                <div id="downTriangle"></div>
            </div>
            <div id="textInfo">
                <ul>
                    <li>
                        张小明
                    </li>
                    <li>
                        <div class="left">
                            贵州省
                        </div>
                        <div class="right">
                            贵阳市
                        </div>
                    </li>
                    <li>
                        人民大道33号11塞纳909
                    </li>
                    <li>
                        134433443533
                    </li>
                    <li>
                        553453
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="price">
        <div id="row01">
            <div class="left">
                <div class="checkboxIcon"></div>
                <span class="normal">平邮<span class="price">2.99</span>元/张</span>
            </div>
            <div class="right">
                <div class="checkboxIcon checked"></div>
                <span class="normal">平邮<span class="price">2.99</span>元/张</span>
            </div>
        </div>
        <div id="row02">
            <div class="left">
                <div class="checkboxIcon"></div>
                <span class="normal">输入消费码</span>
            </div>
            <div class="right">
                <br/>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="normal">共计消费:<span class="price">2.99</span>元</span>
            </div>
        </div>
    </div>

    <div id="sureToPay">
        确认支付
    </div>
</div>