<div id="order">
    <div id="iscrollWrapper">
        <div id="orderInfo">
            <div id="headerTitle">
                <div class="orderIcon"></div>
                <span>订单</span>
                <div id="downTriangle"></div>
            </div>
            <div id="textInfo">
                <ul>
                    <li>
                        {{targetContact.contactName}}
                    </li>
                    <li>
                        <div class="left">
                            {{province}}
                        </div>
                        <div class="right">
                            {{city}}
                        </div>
                    </li>
                    <li>
                        {{address}}
                    </li>
                    <li>
                        {{targetContact.mobile}}
                    </li>
                    <li>
                        {{targetContact.zipCode}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="price">
        <div id="row01">
            <div class="left" ng-click="selectPrice(2.99)">
                <div class="checkboxIcon {{checkClass(2.99)}}"></div>
                <span class="normal">平邮<span class="price">2.99</span>元/张</span>
            </div>
            <div class="right" ng-click="selectPrice(9.99)">
                <div class="checkboxIcon {{checkClass(9.99)}}"></div>
                <span class="normal">专递<span class="price">9.99</span>元/张</span>
            </div>
        </div>
        <div id="row02">
            <div class="left">
                <input type="text" id="refundCode" ng-model="refundCode" placeholder="消费码(可选)">
                <div id="useCoupon" ng-click="checkCoupon()">使用</div>
            </div>
            <div class="right">
                <br/>&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="normal">{{priceTitle}}:<span class="price">{{totalPrice}}</span>元</span>
            </div>
        </div>
    </div>

    <div id="sureToPay">
        确认支付
    </div>
</div>