
<div id="preview">
    <div id="iscrollWrapper">
        <div>
            <div id="front">
                <div id="cardPreview">
                    <canvas id="pictureCanvas">Your browser does not support the canvas element.</canvas>
                    <canvas id="templateCanvas">Your browser does not support the canvas element.</canvas>
                </div>
            </div>

            <div id="back">
                <ul>
                    <li>{{targetContact.zipCode[0]}}</li>
                    <li>{{targetContact.zipCode[1]}}</li>
                    <li>{{targetContact.zipCode[2]}}</li>
                    <li>{{targetContact.zipCode[3]}}</li>
                    <li>{{targetContact.zipCode[4]}}</li>
                    <li>{{targetContact.zipCode[5]}}</li>
                </ul>

                <div id="message">
                    {{message}}
                </div>

                <div id="verticalLine"></div>

                <img id="postmark" ng-src="{{youchuo.path}}" />

                <div id="receiverInfo">
                    <u>{{targetContact.address}}&nbsp;&nbsp;&nbsp;&nbsp;{{targetContact.contactName}}(收)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>
                </div>
            </div>
        </div>
    </div>
</div>h