<div id="requestAddress">
    <div id="iscrollWrapper">
        <div id="scroller">
            <div id="container">
                <div id="optionAddress">
                    <div class="icon"></div>
                    <p>您回复好友的地址</p>
                </div>
                <div id="formContainer">
                    <input id="name" class="input" placeholder="姓名">
                    <select id="province" class="input">
                        <option>选择省份</option>
                        <option>选择省份</option>
                        <option>选择省份</option>
                        <option>选择省份</option>
                        <option>选择省份</option>
                        <option>选择省份</option>
                    </select>
                    <select id="city" class="input">
                        <option>选择城市</option>
                        <option>选择城市</option>
                        <option>选择城市</option>
                        <option>选择城市</option>
                        <option>选择城市</option>
                    </select>

                    <input id="address" class="input" placeholder="详细地址">
                    <input id="telephone" class="input" placeholder="手机号">
                    <input id="postcode" class="input" placeholder="邮编">
                </div>
            </div>
            <p id="tips">
                关注趣邮明信片并填写地址,</br>
                有可能收到好友寄来的明信片哦！
            </p>
        </div>
    </div>

    <button class="bottomOkButton" ng-click="onOkButtonClick()">
        确&nbsp;&nbsp;认
    </button>
</div>