
<div id="selectPostmark">
    <div id="postmarkContainer" class="corner">
        <div id="headerLabel">
            选择所在城市的定位戳<span style="color: #00A6EF">or</span><br/>
            热门城市的纪念戳
        </div>

        <div id="iscrollWrapper">
            <ul id="postmarkList">
                <li ng-repeat="youchuo in youchuoList" ng-click="onClickLi($index)">
                    <div ng-class="getClass($index)"></div>
                    <img ng-src="{{youchuo.path}}"/>
                    <p>{{youchuo.name}}</p>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>

    <button class="bottomOkButton" ng-click="onOkButtonClick()">
        确&nbsp;&nbsp;认
    </button>
</div>