
<div id="selectPostmark">
    <div id="postmarkContainer" class="corner">
        <div id="headerLabel">
            选择所在城市的定位戳or<br/>
            热门城市的纪念戳
        </div>

        <div id="iscrollWrapper">
            <ul id="postmarkList">
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <li>
                    <img/>
                    <p>纪念戳</p>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>

    <button class="bottomOkButton" ng-click="onOkButtonClick()">
        确&nbsp;&nbsp;认
    </button>
</div>