
<div id="selectTemplate">
    <div id="image-container">
        <!--<p id="data"></p>-->
        <canvas id="pictureCanvas">Your browser does not support the canvas element.</canvas>
        <canvas id="templateCanvas">Your browser does not support the canvas element.</canvas>
    </div>

    <ul id="template-preview">
        <li ng-repeat="template in showTemplates" ng-click="selectedTemplate($index)" style="background-image: url('{{data.picurl}}'); background-size: 100% 100%;">
            <img ng-src="{{template.url}}">
        </li>
    </ul>

    <div id="tabView">
        <button id="portrait" ng-class="getClass(0)" ng-click="reshowTemplates(0)">
            <img ng-show="showUpTriangle(0)" src="images/up-triangle-02.png">
            竖版相框
        </button>
        <button id="landscape" ng-class="getClass(1)" ng-click="reshowTemplates(1)">
            <img ng-show="showUpTriangle(1)" src="images/up-triangle-02.png">
            横版相框
        </button>
    </div>
</div>