<div id="showRequestAddress" xmlns="http://www.w3.org/1999/html">
    <div id="iscrollWrapper">
        <div id="scroller">
            <div id="container">
                <div id="optionAddress">
                    <div class="icon"></div>
                    <p>好友回复您的地址</p>
                </div>
                <div id="formContainer">
                    <input readonly id="name" class="input" placeholder="姓名" ng-model="name" />
                    <input readonly id="province" class="input" placeholder="省" ng-model="selectedProvince" />
                    <input readonly id="city" class="input" placeholder="城市" ng-model="selectedCity" />
                    <input readonly id="address" class="input" ng-model="address" placeholder="详细地址" />
                    <input readonly id="telephone" class="input" ng-model="mobile" placeholder="手机号" />
                    <input readonly id="postcode" class="input" ng-model="zipcode" placeholder="邮编" />
                </div>
            </div>
        </div>
    </div>

    <button class="bottomOkButton" ng-click="onOkButtonClick()">
        去地址簿
    </button>
</div>