* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color:transparent;
}

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

button {
    border: none;
    background-color: transparent;
}

.bottomOkButton {
    background-color: #565656;
    height: 40px;
    width: 100%;
    color: #ffffff;
    position: absolute;
    font-size: 18px;
    bottom: 0;
}

.active-01 {
    background-color: #EBEBEB;
}

.rotate-90 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
}

.corner {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#header {
    position: absolute;
    height: 40px;
    width: 100%;
    background-color: #1EA9F0;
    z-index: 1000;
}

#header button {
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
}

#header #button_left {
    margin-left: 20px;
}

#header #button_right {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

#body {
    position: absolute;
    left:0;
    top: 40px;
    right: 0;
    bottom: 0;
    z-index: 800;
}

/*page selectTemplate start*/
#selectTemplate {
    background-color: #F7F7F7;
    height: 100%;
}

#selectTemplate #image-container {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 160px;
}

#selectTemplate #image-container img:nth-child(1) {
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
}

#selectTemplate #image-container img:nth-child(2) {
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
}

#selectTemplate ul {
    background-color: #676767;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 40px;
    list-style: none;
    overflow-x: auto;
    white-space:nowrap;
    -webkit-overflow-scrolling: touch;
}

#selectTemplate ul li {
    background-color: #ffffff;
    width: 50px;
    min-width: 50px;
    height: 70px;
    margin: 15px 10px;
    display: inline-block;
}

#selectTemplate ul li img {
    width: 100%;
    height: 100%;
}

#selectTemplate #tabView {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#selectTemplate #tabView button {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    font-size: 16px;
}

#selectTemplate #tabView button img {
    width: 16px;
    position: absolute;
    top:-7px;
    left: 48%;
}

#selectTemplate #tabView #portrait {
    left: 0;
}

#selectTemplate #tabView #landscape {
    right: 0;
}
/*page selectTemplate end */

/***********page editInfo start *******************/
#editInfo {
    width: 100%;
}

#editInfo #headerContainer {
    margin-top: 15px;
    position: relative;
}

#editInfo #receiverInfo {
    background-color: #F9F9F9;
    height: 100px;
    margin-right: 130px;
}

#editInfo #postmark {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 15px;
    top: 0;
}

#editInfo #greetingsTitle {
    height: 40px;
    margin-top: 15px;
    background-color: #F9F9F9;
    line-height: 40px;
    border-bottom: 1px solid #DEDDDB;
}

#editInfo #greetingsContent {
    width: 100%;
    background-color: #F9F9F9;
    position: absolute;
    top:171px;
    bottom:0;
}

/***********page editInfo end *******************/


/***********page editContact start***************************/
#editContact #iscrollWrapper {
    top: 0;
    position: absolute;
    bottom: 40px;
    width: 100%;
}

#editContact #scroller {
    padding: 20px 0;
}

#editContact #container {
    margin: 0 15px;
    position: relative;
    overflow-x: hidden;
}

#editContact #container #detailAddressInfo {
    height: 80px;
    background-color: #0FAAEF;
}

#editContact #container #detailAddressInfoText {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #ffffff;
}

#editContact #container #optionAddress {
    background-color: #3B3B3B;
    height: 40px;
    position: relative;
}

#editContact #container #optionAddress button {
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}

#editContact #container #optionAddress #buttonAddress {
    width: 30%;
    position: absolute;
    border-right: 1px solid #2C2C2C;
}

#editContact #container #optionAddress #buttonAddressBook {
    width: 70%;
    position: absolute;
    right: 0;
}

#editContact #formContainer .input,select {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #EEEDEB;
    background-color: #FBFAF8;
    font-size: 14px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

#editContact #formContainer #province {
    width: 50%;
}

#editContact #formContainer #city {
    width: 50%;
    position: absolute;
    right: 0;
}
/***********page editContact end***************************/


/***********page addressBook start***************************/
#addressBook .selected {
    background-color: #c8dcf0;
}

#addressBook #iscrollWrapper {
    top: 50px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    z-index: 0;
}

#addressBook #addressTitle {
    height: 50px;
    background-color: #EAEAEA;
    position: relative;
    z-index: 900;
    opacity: 0.9;
}

#addressBook #addressTitle p {
    position: absolute;
    top: 16px;
    left: 15px;
    color: #697996;
}

#addressBook #addressTitle .rightIcon {
    position: absolute;
    right: 15px;
    top: 12px;
    width: 26px;
    height: 26px;
    background-color: red;
}

#addressBook #contactList>li {
    height: 50px;
    border-bottom: 1px solid #F6F5F4;
    position: relative;
    overflow: hidden;
}

#addressBook #contactList>li .name {
    position: absolute;
    left: 15px;
    top: 16px;
}

#addressBook #contactList>li .postcode {
    position: absolute;
    left: 100px;
    top: 10px;
    font-size: 12px;
}

#addressBook #contactList>li .address {
    position: absolute;
    left: 100px;
    top: 30px;
    font-size: 12px;
    white-space: nowrap;
}

/***********page addressBook end***************************/

/***********page editGreetings start*******************/

#editGreetings #greetingsContainer {
    width: 100%;
    position: absolute;
    top: 20px;
    bottom: 120px;
}

#editGreetings #greetingsContainer>div:first-child {
    padding: 0 15px;
    background-color: #F9F9F9;
    height: 100%;
    position: absolute;
    left: 15px;
    right: 15px;
}

#editGreetings #greetingsTitle {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #DEDDDB;
}

#editGreetings #greetingsContent {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    top: 51px;
}

#editGreetings #greetingsContent #text {
    height: 100%;
    border: none;
    background: none;
    width: 100%;
    font-size: 14px;
}

#editGreetings #startVoice {
    position: absolute;
    height: 46px;
    left: 15px;
    right: 15px;
    bottom: 55px;
    color: #ffffff;
    line-height: 46px;
    text-align: center;
    background-color: #43C12F;
}

#editGreetings #playVoice {
    background-color: #0FAAEF;
    height: 46px;
    width: 46px;
    position: absolute;
    right: 15px;
    bottom: 55px;
}
/*************page editGreetings end***********************/

/*************page selectPostmark start******************/

#selectPostmark #postmarkContainer {
    background-color: #FBFAF8;
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;
    bottom: 60px;
}

#selectPostmark #headerLabel {
    line-height: 24px;
    margin: 15px 0;
    height: 60px;
    text-align: center;
    color: #6B7A96;
    font-size: 16px;
    border-bottom: 1px solid #EDECEA;
}

#selectPostmark #iscrollWrapper {
    top: 77px;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

#selectPostmark #postmarkList {
    list-style: none;
}

#selectPostmark #postmarkList>li {
    float: left;
    width: 54px;
    height: 54px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #001042;
    position: relative;
}

#selectPostmark #postmarkList>li>p {
    font-size: 14px;
    position: relative;
    bottom: -45px;
    text-align: center;
}


/*************page selectPostmark end********************/

/*************page preview start**************************/
#preview {
    height: 100%;
}

#preview #iscrollWrapper {
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
}

#preview #iscrollWrapper>div {
    height: 460px;
}

#preview #front {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 20px;
    height: 200px;
    background-color: #5bc0de;
}

#preview #back {
    position: absolute;
    top:240px;
    left: 15px;
    right: 15px;
    height: 200px;
    background-color: #02b4fe;
}
/*************page preview end**************************/

/*************page order start**************************/
#order #iscrollWrapper {
    position: absolute;
    top: 0;
    bottom: 136px;
    width: 100%;
    overflow: hidden;
}

#order #orderInfo {
    padding: 15px 0;
    margin: 0 15px;
}

#order #orderInfo #headerTitle {
    height: 50px;
    background-color: #909090;
    line-height: 50px;
    color: #ffffff;
}

#order #orderInfo #headerTitle .orderIcon {
    display: inline-block;
    margin-top: 11px;
    margin-left: 30px;
    width: 28px;
    height: 28px;
    background-color: red;
}

#order #orderInfo #headerTitle>span {
    position: relative;
    top: -8px;
    left: 8px;
}

#orderInfo #textInfo>ul {
    list-style: none;
}

#orderInfo #textInfo>ul>li {
    height: 50px;
    background-color: #FBFAF8;
    border-bottom: 1px solid #EDEEE9;
    line-height: 50px;
    padding: 0 15px;
    color: #808080;
}

#orderInfo #textInfo>ul>li .left {
    display: inline-block;
    width: 50%;
}

#orderInfo #textInfo>ul>li .right {
    display: inline-block;
}

#order #price {
    position: absolute;
    bottom: 56px;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
}

#order #price>div:first-child {
    border-top: 1px solid #EDEEE9;
}

#order #price>div {
    height: 39px;
    border-bottom: 1px solid #EDEEE9;
    position: relative;
}

#order #price>div .left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    border-right: 1px solid #EDEEE9;;
}

#order #price>div .right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
}

#order #price>div>div .checkboxIcon {
    margin-left: 20px;
    margin-top: 9px;
    width: 22px;
    height: 22px;
    background-color: #02b4fe;
    border: none;
    display: inline-block;
    margin-right: 6px;
}

#order #price>div>div .normal {
    position: relative;
    bottom: 4px;
    font-size: 12px;
    color: #949494;
    letter-spacing: 1px;
}

#order #price>div>div .price {
    font-size: 18px;
    color: #B33767;
}

#order #sureToPay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 46px;
    background-color: #42C12F;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 46px;
    letter-spacing: 5px;
}
/*************page order end**************************/

/***********page friendsManager start***************************/
#friendsManager .selected {
    background-color: #c8dcf0;
}

#friendsManager #iscrollWrapper {
    top: 50px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    z-index: 0;
}

#friendsManager #addressTitle {
    height: 50px;
    background-color: #EAEAEA;
    position: relative;
    z-index: 900;
    opacity: 0.9;
}

#friendsManager #addressTitle p {
    position: absolute;
    top: 16px;
    left: 15px;
    color: #697996;
}

#friendsManager #addressTitle .rightIcon {
    position: absolute;
    right: 15px;
    top: 12px;
    width: 26px;
    height: 26px;
    background-color: red;
}

#friendsManager #contactList>li {
    border-bottom: 1px solid #F6F5F4;
    overflow: hidden;
}

#friendsManager #contactList>li>div:first-child {
    position: relative;
    height: 40px;
}

#friendsManager #contactList>li>div:first-child>p {
    padding-top: 11px;
    margin-left: 15px;
    color: #5F5F5F;
    font-size: 16px;
}

#friendsManager #contactList>li>div:first-child>.arrow {
    position: absolute;
    right: 15px;
    top: 7px;
    background-color: red;
    width: 26px;
    height: 26px;
}

#friendsManager #contactList>li>.detailArea {
    height: 60px;
    background-color: #EAEAEA;
    position: relative;
}

#friendsManager #contactList>li>.detailArea>.left>p:first-child {
    margin-left: 15px;
    position: relative;
    top: 12px;
    font-size: 14px;
}

#friendsManager #contactList>li>.detailArea>.left>p:last-child {
    margin-left: 15px;
    position: relative;
    top: 20px;
    font-size: 14px;
}

#friendsManager #contactList>li>.detailArea>.buttonEdit {
    position: absolute;
    right: 70px;
    top: 0;
    bottom: 0;
    width: 70px;
    background-color: #979797;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
}

#friendsManager #contactList>li>.detailArea>.buttonDelete {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70px;
    background-color: #E02E34;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
}

#friendsManager #tabView {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#friendsManager #tabView button {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    font-size: 16px;
    color: #ffffff;
}

#friendsManager #tabView #addContact {
    left: 0;
    background-color: #3186B4;
}

#friendsManager #tabView #requestFromOther {
    right: 0;
    background-color: #D16A85;
}
/***********page friendsManager end***************************/



